@import url(https://fonts.googleapis.com/css?family=Tangerine|Inconsolata|Droid+Sans);
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');





.container{
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    float: right;
    margin-right: 20px;
    

}

a:link{ text-decoration: none; color: black;}
 
a:visited{ text-decoration: none; color: black;}

a:hover{ text-decoration: none; color: black;}

a:active{ text-decoration: none; color: black;}

.bar1, .bar2, .bar3{
    width: 30px;
    height: 5px;
    background-color:black;
    margin: 5px 0;
    transition: 0.4s;
    
}

/* Rotate first bar*/
.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Rotate second bar*/
.change .bar2{
    opacity: 0;
}

/* Rotate last bar*/
.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.dropdown-content{
    display: none;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    

}


#FirstPart{
    padding-bottom: 0px;
    margin: 0;
}

.Header{
    background-color: #fadde1;
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 70px;
    padding-top: 0;
    padding-top: 10px;
}

html, body{
    padding: 0;
    margin: 0;
}

.logoHeader{
    max-width: 100%;
    max-height: 100%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    
}

/**p:hover{
    background-color:blanchedalmond;
}
**/

.orderOnline{
    max-width: 100%;
    max-height: 100%;
    height: 30px;
    width: 150px;
    border-radius: 16px 16px;
    background-color:#ffc4d6;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

a:hover{
    text-decoration: none;
    color: #880E4F;
    -moz-text-shadow: 3px 3px 10px #EC407A;
    -webkit-text-shadow: 3px 3px 10px #EC407A;
    text-shadow: 3px 3px 10px #EC407A;

}


.HeaderName{
    text-align: center;  
    font-family: 'Tangerine', serif;  
    font-size: 80px;
    margin-bottom: auto;
    letter-spacing: 5px;
    margin-top: 5px;
    word-spacing: 5px;
    text-shadow: 4px 4px 4px #aaa;
    
    
}

.spanText{
    margin-top: 8px;
    display: inline-block;
    text-align: center;
    font-family: 'Tangerine', serif;  
    font-size: 5vw;
    white-space: nowrap;
   
}


.slide{
    padding-top: 40px;
    padding-bottom: 5px;
}

*{box-sizing: border-box;}

.slideshow-container{
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlide{
    display: none;
}

.slideshow-container, img{
    max-width: 100%;
    width: 1024px;
    height: auto;
   

}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 4vw;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}



.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:#ff5d8f;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    animation-name:fade;
    animation-duration: 2s;
}

@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}


#SecondPart{
    padding-top: 70px;
    background-color: white ;
    
}

.firstAbout{
    background-color: #ffc4d6;
    vertical-align: top;
    text-align: center;
    background-size: cover;
    padding-bottom: 20px;
    
    
}

.LearnMore{
    max-width: 100%;
    max-height: 100%;
    height: 30px;
    width: 160px;
    border-radius: 16px 16px;
    background-color:#ffa6c1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

.SeeMore{
    max-width: 100%;
    max-height: 100%;
    height: 30px;
    width: 160px;
    border-radius: 16px 16px;
    background-color:#ffa6c1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}

.BeautyServices{
    max-width: 100%;
    max-height: 100%;
    height: 30px;
    width: 160px;
    border-radius: 16px 16px;
    background-color:#ffa6c1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.footer_text{
    letter-spacing: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 5vw;

}

.footer{
    text-align: center;
    background-color: #ff5d8f;
    background-size: cover;
    padding-bottom: 10px;
    padding-top: 10px;
    

}

